/*
 Theme Name:   Splendid
 Theme URI:    http://crazy-tinker.github.io/splendid/
 Description:  Splendid Theme was designed by Fateem Diabate and based on the twentysixteen theme
 Author:       Lucas Ramage
 Author URI:   http://crazy-tinker.github.io
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, responsive-layout, accessibility-ready
 Text Domain:  splendid
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, .site-title, .entry-title, button, input, select, textarea {
	font-family: 'Open Sans', sans-serif;
}

body:before {
	display: none;
}

body {
	background: none;
	color: white;
}

.site-content, table {
	color: #1a1a1a;
}

.site {
	margin: 0;
	margin-top: -10px;
}

.site-header {
	border-bottom: 1em solid #e99f37;
	padding: 0 2.5em;
}

.site-branding .site-title a, .main-navigation a, 
.site-branding .site-title a:hover, 
.site-branding .site-title a:focus,
.main-navigation a:hover, .main-navigation a:focus {
    color: #186e88;
}

.site-description {
	float: left;
    position: absolute;
    margin: 8em;
    padding: 2em;
    background: #186e88;
    background: rgba(24, 110, 136, .7);
    color: white;
}

.site-description h1 {
	margin-bottom: .5em;
}

.site-content {
	padding: 0;
}

.book-cover {
	overflow: hidden;
    height: 75%;
	margin-bottom: 2em;
}

.site-footer .site-title:after {
	content: none;
}

@media screen and (min-width: 56.875em) {
	.site-header {
		padding: 0;
	}
	
	.book-cover { 
		height: 45%;
	}
}
